{% extends "base.html" %}
{% block content %}

<a href="{{ url_for('messages', user_id=user.id) }}">User Messages</a>

<br><br>
<form action="{{ url_for('show_message', user_id=user.id, id=message.id) }}?_method=PATCH" method="POST">
  <input type="text" name="content" value="{{ message.content }}">
  <input type="submit" value="Edit message">
</form>

<form action="{{ url_for('show_message', user_id=user.id, id=message.id) }}?_method=DELETE" method="POST">
  <input type="submit" value="Delete message">
</form>

{% endblock %}