# Install Flask
Flask

# Web scraping
bs4
requests

# HTTP methods
flask-modus

# Database
psycopg2
flask-sqlalchemy
flask-migrate
flask-script

# Testing
flask-testing

# Forms
flask-wtf

# Authentication
flask-bcrypt
flask-login
Flask-OAuthlib

# Deployment
gunicorn