@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  font-family: 'Roboto', sans-serif;
}

p {
  font-size: 20px;
}

body::after {
  content: "";
  background: url(https://images.unsplash.com/photo-1479243484125-a36de7807dc8?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c0c61dbec70f3bcdc78efe7f49bc6d58&auto=format&fit=crop&w=2550&q=80);
  background-size: cover;
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}