p {
  font-size: 20px;
}

body::after {
  content: "";
  background: url(https://images.unsplash.com/photo-1501755792080-cd51e405462c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=18eba5532db152f32f3dec0744b5a282&auto=format&fit=crop&w=1682&q=80);
  background-size: cover;
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}